* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Smurfs {
  width: 500px;
  margin: 0 auto;
}

.Smurfs__title {
  text-align: center;
}

.Smurf {
  width: 100%;
  border: 1px solid black;
  padding: 15px;
  position: relative;
  margin-top: 30px;
}

svg[class^='Smurf__icon'] {
  margin-right: 10px;
  cursor: pointer;
  transition: all .2s ease;
  fill: rgba(0,0,0,0.6);
}

svg[class^='Smurf__icon']:hover {
  transform: scale(1.2);
  transition: all .2s ease;
}

.Smurf__icon-trash:hover {
  fill: red;
}

.Smurf__icon-edit:hover {
  fill: rgba(0,0,0,0.8) !important;
}

.Smurf__name, .Smurf__height, .Smurf__age {
  margin: 0;
  padding-bottom: 15px;
}
